<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aversoft.medicinepoint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".AddMedicineActivity" />
        <activity android:name=".PatientNewOrderActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviousPrescriptionActiivity" />
        <activity android:name=".PrePrescriptionDetailsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PatientOrderListActivity" />
        <activity android:name=".PatientPrescriptionsActivity" />
        <activity android:name=".DailyMedicineActivity" />
        <activity android:name=".SellerListActivity" />
        <activity android:name=".ShopBasedOrdersActivity" />
        <activity android:name=".PatientPrescriptionDetailsActivity" />
        <activity android:name=".DailyMedicineListAddActivity" />
        <activity android:name=".DailyMedicineDetailsActivity"></activity>
    </application>

</manifest>